{% extends 'base.html.twig' %}

{% block body %}

    {{ include('blocks/main_block.html.twig') }}
    {{ include('blocks/gallery.html.twig') }}
    {{ include('blocks/promo.html.twig') }}
    <div style="margin-top: 50px">
        {{ include('blocks/raiting.html.twig') }}
    </div>
    {{ include('blocks/price_list.html.twig') }}
    {{ include('blocks/certificate.html.twig') }}

{% endblock %}