<div class="accordion_anchor" id="header_about_us">
    <div class="container-vmf">
        <div class="about_company">
            {% if app.request.pathInfo == '/about/' %}
                <h1 class="zag">О компании</h1>
            {% else %}
                <h2 class="font-weight-bold">О компании</h2>
            {% endif %}
            <div class="about_company__block">
                <div class="about_company__block__left">
                    <div class="about_company_slider">
                        <div class="slider__wrapper">
                            <div class="slider__items">
                                {% for i in 1..6 %}
                                    <div class="slider__item">
                                        <img class="all_block"
                                             src="{{ asset('/img/amplus/about_company/'~i~'.jpg') | imagine_filter('thumbnail_about_block') }}"
                                             alt="img">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="about_company_slider__nav">
                            <button class="about_company_slider__arrow__left">
                                <svg width="40" height="22" viewBox="0 0 40 22" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.9705 0.0297852L12.7522 1.81159L4.82355 9.74031H40V12.2602H4.82355L12.7522 20.1888L10.9705 21.9706L0 11.0002L10.9705 0.0297852Z"
                                          fill="white"/>
                                </svg>
                            </button>
                            <div class="about_company_slider__nav__content">
                                <div class="about_company_slider__nav__number_slider">
                                    <p id="count_slider_about_company">1 / 6</p>
                                </div>
                            </div>
                            <button class="about_company_slider__arrow__right">
                                <svg width="40" height="22" viewBox="0 0 40 22" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M29.0295 0.0297852L27.2478 1.81159L35.1764 9.74031H0V12.2602H35.1764L27.2478 20.1888L29.0295 21.9706L40 11.0002L29.0295 0.0297852Z"
                                          fill="white"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="about_company__block__right">
                    <div class="about_company__block__right__item">
                        <img src="{{ asset('img/amplus/about_company/icon/1.svg') }}" alt="">
                        <div class="about_company__block__right__item__text">
                            <p class="font-weight-bold">СПЕЦИАЛИЗИРОВАННЫЙ СЕРВИС</p>
                            <small>Техцентр АМ+ является сертифицированным автосервисом по системе сертификации «ГОСТ Р»
                                в Москве.</small>
                        </div>
                    </div>
                    <div class="about_company__block__right__item">
                        <img src="{{ asset('img/amplus/about_company/icon/2.svg') }}" alt="">
                        <div class="about_company__block__right__item__text">
                            <p class="font-weight-bold">ЗАПЧАСТИ В НАЛИЧИИ</p>
                            <small>Большой склад автозапчастей и большинство уже в наличии и по приятным ценам. Так же
                                действую скидки на запчасти от 10 до 20%.</small>
                        </div>
                    </div>
                    <div class="about_company__block__right__item">
                        <img src="{{ asset('img/amplus/about_company/icon/3.svg') }}" alt="">
                        <div class="about_company__block__right__item__text">
                            <p class="font-weight-bold">СТОИМОСТЬ ДО НАЧАЛА РАБОТ</p>
                            <small>Стоимость на ремонта оговаривается после диагностики, цена не меняется в ходе
                                работы.</small>
                        </div>
                    </div>
                    <div class="about_company__block__right__item">
                        <img src="{{ asset('img/amplus/about_company/icon/4.svg') }}" alt="">
                        <div class="about_company__block__right__item__text">
                            <p class="font-weight-bold">100% ГАРАНТИЯ</p>
                            <small>На все виды работы мы предоставляем гарантию 1 год.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>