<div class="block5">
    <div class="container">
        <h2 class="zag">{{ include('widget/title_h2.html.twig') }}</h2>

        {% if service != [] %}
            {% set service = service %}
        {% else %}
            {% set service = service.service ?? service %}
        {% endif %}

        {% if model is defined %}
            {{ include ('widget/model_price_category_item.html.twig') }}
        {% elseif brand is defined %}
            {{ include ('widget/brand_service_price_category_item.html.twig') }}
        {% else %}
            {{ include ('widget/price_category_item.html.twig') }}
        {% endif %}

        <div class="under_price">
            <div class="important_block">
                <strong class="priv_act_nvv">
                    <span class="zvezda_diagnostika">🔥</span>
                    <span style="font-size: 24px;">ДИАГНОСТИКА за 490₽ по 43 параметрам</span>
                </strong>.<br>
                <span class="galka_diagnostika">⛔</span>
                <i style="font-weight: lighter; margin-top: 5px;font-size: 16px"> Диагностика в подарок при ремонте в
                    нашем специализированном автосервисе «Моторист»</i>
                <br>
                <i style="font-weight: lighter; margin-top: 5px;font-size: 16px">
                    {{ under_price_text(service_from_domain.slug ?? '') }}
                </i>
            </div>
        </div>

        <div class="calc__btns">
            <a href="#diagnostics" class="btn-reset open_modal btn calc__btn">диагностика</a>
            <button class="btn-reset open_modal btn calc__btn calc__btn-mid">получить консультацию</button>
            <button class="btn-reset open_modal btn calc__btn">заявка на эвакуатор</button>
        </div>

    </div>
</div>