<div class="block9 blockrabotniki">
    <div class="container container2">

        <div class="zag">Сертифицированные специалисты</div>

        <div class="row rabotniki-wrap">
            <div data-aos="flip-up" data-aos-duration="1000" class="aos-init">
                <div class="rabotniki-card">
                    <div class="img">
                        <picture>
                            <source class="lazy"
                                    data-srcset="{{ asset('img/personal/receptionist.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                    type="image/webp">
                            <img class="lazy"
                                 data-src="{{ asset('img/personal/receptionist.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                 alt="Alt Text!">
                        </picture>
                    </div>
                    <div class="text">
                        <b>Мастер приемщик</b>
                    </div>

                    <div class="expert-parent-btn">
                        <a href="#" class="expert-btn mbtn mbtng modal-form-open" data-name="Заказать звонок"
                           data-type="consultation"
                           tabindex="0">Получить консультацию</a>
                    </div>
                </div>
            </div>
            <div data-aos="flip-up" data-aos-duration="1000" data-aos-delay="150" class="aos-init">
                <div class="rabotniki-card">
                    <div class="img">
                        <picture>
                            <source class="lazy"
                                    data-srcset="{{ asset('img/personal/autopart.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                    type="image/webp">
                            <img class="lazy"
                                 data-src="{{ asset('img/personal/autopart.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                 alt="Alt Text!">
                        </picture>
                    </div>
                    <div class="text">
                        <b>Менеджер отдела запчастей</b>
                    </div>
                    <div class="expert-parent-btn">
                        <a href="#" class="expert-btn mbtn mbtng modal-form-open" data-name="Заказать звонок"
                           data-type="consultation"
                           tabindex="0">Получить консультацию</a>
                    </div>
                </div>
            </div>
            <div data-aos="flip-up" data-aos-duration="1000" data-aos-delay="300" class="aos-init">
                <div class="rabotniki-card">
                    <div class="img">
                        <picture>
                            <source class="lazy"
                                    data-srcset="{{ asset('img/personal/director.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                    type="image/webp">
                            <img class="lazy"
                                 data-src="{{ asset('img/personal/director.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                 alt="Alt Text!">
                        </picture>
                    </div>
                    <div class="text">
                        <b>Руководитель сервиса</b>
                    </div>
                    <div class="expert-parent-btn">
                        <a href="#" class="expert-btn mbtn mbtng modal-form-open" data-name="Заказать звонок"
                           data-type="consultation"
                           tabindex="0">Получить консультацию</a>
                    </div>
                </div>
            </div>
            <div data-aos="flip-up" data-aos-duration="1000" data-aos-delay="450" class="aos-init">
                <div class="rabotniki-card">
                    <div class="img">
                        <picture>
                            <picture>
                                <source class="lazy"
                                        data-srcset="{{ asset('img/personal/electrician.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                        type="image/webp">
                                <img class="lazy"
                                     data-src="{{ asset('img/personal/electrician.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                     alt="Alt Text!">
                            </picture>
                        </picture>
                    </div>
                    <div class="text">
                        <b>Электрик</b>
                    </div>
                    <div class="expert-parent-btn">
                        <a href="#" class="expert-btn mbtn mbtng modal-form-open" data-name="Заказать звонок"
                           data-type="consultation"
                           tabindex="0">Получить консультацию</a>
                    </div>
                </div>
            </div>
            <div data-aos="flip-up" data-aos-duration="1000" data-aos-delay="450" class="aos-init">
                <div class="rabotniki-card">
                    <div class="img">
                        <picture>
                            <picture>
                                <source class="lazy"
                                        data-srcset="{{ asset('img/personal/mechanic.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                        type="image/webp">
                                <img class="lazy"
                                     data-src="{{ asset('img/personal/mechanic.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                     alt="Alt Text!">
                            </picture>
                        </picture>
                    </div>
                    <div class="text">
                        <b>Автомеханик</b>
                    </div>
                    <div class="expert-parent-btn">
                        <a href="#" class="expert-btn mbtn mbtng modal-form-open" data-name="Заказать звонок"
                           data-type="consultation"
                           tabindex="0">Получить консультацию</a>
                    </div>
                </div>
            </div>
            <div data-aos="flip-up" data-aos-duration="1000" data-aos-delay="450" class="aos-init">
                <div class="rabotniki-card">
                    <div class="img">
                        <picture>
                            <picture>
                                <source class="lazy"
                                        data-srcset="{{ asset('img/personal/mechanic-1.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                        type="image/webp">
                                <img class="lazy"
                                     data-src="{{ asset('img/personal/mechanic-1.jpg') | imagine_filter('thumbnail_specialist_foto') }}"
                                     alt="Alt Text!">
                            </picture>
                        </picture>
                    </div>
                    <div class="text">
                        <b>Автомеханик</b>
                    </div>
                    <div class="expert-parent-btn">
                        <a href="#" class="expert-btn mbtn mbtng modal-form-open" data-name="Заказать звонок"
                           data-type="consultation"
                           tabindex="0">Получить консультацию</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
